PUBLISHABLE_KEY=
SECRET_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
STARBUCKS_WEB_URL=
# debug,release
GOOGLE_CLIENT_ID=
GOOGLE_WEB_SERVER_CLIENT_ID=
FIREBASE_HOSTING_DOMAIN=
FIREBASE_HOSTING_DEPLOY_TOKEN=
# ssl
SSL_SHA256_FINGER_PRINT=