<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".MainActivity">
            <!-- App Links (開発環境用 - カスタムスキーム、検証なし) -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="testingapp"
                    android:pathPrefix="/register"
                />
            </intent-filter>
        </activity>
    </application>
</manifest>