
# Supabase設定
SUPABASE_LOCAL_URL=
SUPABASE_LOCAL_SERVICE_KEY=

# データベース設定
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

# S3互換ストレージ設定
S3_ENDPOINT=
S3_REGION=
S3_LOCAL_ACCESS_KEY=
S3_LOCAL_SECRET_KEY=

# バケット設定
LOCAL_BUCKET_NAME=

# バックアップパス (絶対パスまたは相対パス)
BACKUP_PATH=

# SQLファイル設定
SQL_FILE_NAME=